body,html{
    margin: 0;
    height:100%;
}

.alcedo-canvas-container{
    width: 100%;
    height: inherit;
    position: relative;
    display: block;
}

#aperturetest1{
    display:block;width: 100%;height: inherit
}