*{

}

body,html{
    margin: 0;
    height:100%;
    border: 0
}

.alcedo-canvas-container{
    width: 100%;
    height: inherit;
    position: relative;
    display: block;
}

.screen,
#curtain{
    width: 100%;
    position: absolute;
}

.screen{
    display: none;
}
.screen.active{
    display: block;
}

.screen .btn,
.alcedo-canvas{
    display: inline-block;
}

.block-center{
    display: block;
    margin: 0 auto;
}

/**.screen.start**/
.screen.start *{
    display: block;
    position: relative;
}

.screen.over .btns{
    position: relative;
    width: 250px;
}
.screen.over .btn{
    position: relative;
}
.screen.over .btn.right{
    margin-left: 50px;
}

