body,html{
    margin: 0;
    height:100%;
    border: 0
}

.alcedo-canvas-container{
    width: 100%;
    height: inherit;
    position: relative;
    display: block;
}

.alcedo-canvas{
    display: block;
}